/*
    Template: consulting
    Theme Name: Consulting Child Theme
    Theme URI: http://consulting.stylemixthemes.com/
    Author: StylemixThemes
    Author URI: http://stylemixthemes.com/
    Description: Consulting - Business and Finance WordPress theme. Using Consluting you can easily create a modern website with real content. Easily edit the real content and compose the page layout with drag & drop page builder Consulting is the best ever finance, consulting, brokerage WordPress theme. It’s fully Responsive and Easy to Customize using intuitive Drag & Drop Visual Composer and Theme Options panel in WordPress Customizer.
    Version: 1.1
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: blue, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, sticky-post, translation-ready
    Text Domain: consulting-child-theme
*/
a {
	text-decoration: none!important;
}
#main {
padding-bottom: 0px!important;
}
h5.widget_title {
    color: white;
}
.tuts div div div div div .info_box_text {
	background-color: rgba(253, 92, 31, 0.78)!important;
}
.suite div div div div div .info_box_text {
	background-color: rgba(175,168,165,0.78)!important;
}
.info_box_text {
	padding: 10px 30px 0!important;
}
.info_box_text .title {
	padding-left: 25px!important;	
}
.info_box_text .read_more {
	padding-left: 0px!important;
}
.header_top.affix {
	height: 70px;
}
#header .header_top.affix .top_nav {
	padding: 15px!important;
}
#header .header_top.affix div div a img{
	max-height: 40px;
	height: 40px!important;
}
#footer .footer_widgets {
  position: relative;
  padding: 15px 0 0; }
 .top_nav .top_nav_wrapper > ul > li, .top_nav .main_menu_nav > ul > li {
   text-decoration: none!important;
     }
.main_menu_nav > .menu-item {
    padding-bottom: 11px;
}
.main_menu_nav > .menu-item:hover, .main_menu_nav > .current_page_item , .main_menu_nav > .current-menu-item {
	padding-bottom: 9px!important;
	border-bottom: 2px solid #FDE428!important;
}
.sub-menu > .menu-item:hover, .sub-menu > .menu-item {
	text-transform: none!important;
	border: none;
}
a[href*="scroll-contact"] {
    width: auto!important;
    padding: 20px 50px 20px 20px!important;
    font-size: 20px!important;
    margin-top: -20px!important;
}
.stm-envelope-11 {
    font-size: 22px!important;
}

h6.no_stripe {
	font-size: 25px;
}