/*
	Theme Name: Envision - Child
	Description: Child Theme
	Author: Orkun Gursel
	Template: bbvision
	Version: 1.1
*/
@import url("../bbvision/lib/css/style.css");

/** Add your custom css */
#logo-desktop
{
	max-height: 80px;
}
.ui--gradient-grey {
	background-color: #ffffff;
    margin: -1px;
    background-image: url()!important;
}

.ui--blog-image , .ui--blog-gallery-image{
	display: none !important;
}
html #page-wrap .ui--tabs-mini-vertical > .ui--tabs-header .ui--tabs-titles > li a
{
	padding: 15px 0 !important;
}